.home-content {
  background: url("../../../assets/images/lighthouse.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 350px;
  margin-top: -40px;

  .name-logo {
    list-style: none;
    margin-bottom: 0px;
  }
}